# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
elec/

# Ignore data files
*.csv
*.xlsx
*.h5
*.pkl

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore all data files by default
data/*
!data/.gitkeep     # Exception: allow a placeholder file to keep folder visible

echo em/ >> .gitignore
